.title{
    background-color: blueviolet;
    color: white;
    padding: 30px;
    text-align: center;
}
.title{
    background-color: blueviolet;
    color: white;
    padding: 30px;
    text-align: center;
}

